@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;700&display=swap');

main {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Rethink Sans', sans-serif;
  padding: 1rem 4rem;
}

.heading-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-container h2{
  margin-top: 0;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /*So the content below dropdown doesnt move away*/
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0px 0px;
  /*A tags normally shows up underlined, etc... This assures it shows without these decorations*/
  text-decoration: none;
  /*Shows A tags beneath each other*/
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-icon {
  vertical-align: middle;
  width: 1rem;
}

.dropdown-flex {
  white-space: nowrap;
  font-size: 1rem;
}

article {
  margin-bottom: 2rem;
}

h1.title {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
}


.section_split {
  display: flex;
  gap: 0.25rem;
}

.book_info_side h1 {
  margin-top: 0.2rem;
}

.h3-styling{
  font-weight: 100;
}

.p-styling{
  font-weight: bold;
  font-size: 1rem;
}

button.edit {
  height: 2rem;
  width: 2rem;
}